@import "vars";
@import "mixins";
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img {
	&.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}
	&.alignnone {
		margin: 5px 20px 20px 0;
	}
	&.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}
	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
	&.alignnone, &.alignleft {
		margin: 5px 20px 20px 0;
	}
	&.alignright {
		margin: 5px 0 20px 20px;
	}
	img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}
	p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
		/* Above WP toolbar. */
	}
}
////===========================================
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clear {clear: both;}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
img{
	max-width:100%;
	height: auto;
}
////===========================================
html,body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}
body {
	font-family: $default-font;
	position: relative;
	padding-top: 70px;
}
.wrapper{
	position: relative;
	min-height: 100%;
}
.content-wrapper{
	padding-bottom: 180px;
}
.footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 160px;
	margin-top: 20px;
	padding: 10px 0;
	background: #cccccc;
}
//===========================================
footer{
	.block-nav,
	.block-cont{
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
}
//===========================================
